.header {
  background-color: $primary;
  height: 343px;
  width: 375px;
  position: relative;
}

.header-logo {
  position: absolute;
  top: 10.57%;
  left: 50%;
  width: 154px;
  height: 27px;
  margin-left: -77px;
  img {
    width: 100%
  }
}

.header-content {
  position: absolute;
  top: 22.82%;
  left: 0;
  width: 100%;
  height: 178px;
  text-align: center;
}

.header-content__description--middle {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  margin-top: 17px;
}

.header-content_songs--small {
  display: flex;
  justify-content: space-between;
  margin: 12px 18px;
}

.header-button_download--white {
  height: 45px;
  line-height: 45px;
  font-size: 17px;    position: absolute;
  bottom: 7.93%;
  left: 50%;
  display: block;
  width: 200px;
  font-weight: 700;
  margin-left: -100px;
  background: #fff;
  border-radius: 9999px;
  color: #d43c33;
  text-align: center;
  transition: width .3s;
}

.body-content--hot-lists {
  padding-top: 20px;
}

.body-content_songs--common {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 24px;
}